@charset "UTF-8";
/* CSS Document */

/* General Styles */
#apDiv8{
	background-image: url("../imageedit_10_7376449577.jpg");
	background-size: cover;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
}

#apDiv8 p{
	display: block;
	margin: auto;
	width: 80%;
}

/* Bruner 3 Col Styles */
.row{
	display: block;
	margin: auto;
}

.col{
  float: left;
}

.left {
  width: 22%;
}

.right{
	width: 22%;
}

.center {
  width: 50%;
}

.center .Model{
	width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row p{
	width: 90%;
	text-align: center;
}

.Img img{
	display: block;
	margin: auto;
}

.Img h5{
	font-size: 12px;
	display: block;
	margin: auto;
}

.leftM{
	display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 950px){
	.leftM{
		display: block;
		width: 90%;
		margin: auto;
	}
	
	.Img{
		display: block;
		width: 100%;
	}
	
	.Img img{
		width: auto;
		height: auto;
	}
	
	.right{
		display: none;
	}
	
	.left{
		display: none;
	}
	
	.center{
		width: 100%;
	}
}


@media only screen and (max-width: 500px){
	table td{
		font-size: 8px;
	}
}
