@charset "UTF-8";
/* CSS Document */

/* Profile Image Styles */
.ken{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	outline: 1px solid black;
	box-shadow: rgb(51, 51, 51) 5px 0px 15px,
                rgb(51, 51, 51) -5px 0px 15px;
}

iframe{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#apDiv1 table{
	width: 100%;
}

#apDiv1 table tbody{
	width: 100%;
}

#apDiv1 table tr{
	width: 100%;
}

#apDiv1 table td{
	text-align: center;
	width: 100%;
}

/* Col Styles */
.row{
	display: block;
	margin: auto;
}

.col{
  float: left;
  width: 50%;
}

.col p{
	display: block;
	margin: auto;
}

@media only screen and (max-width: 950px){
	.col{
		width: 100%;
	}
	.ken{
		width: 50%;
	}
}