@charset "UTF-8";
/* CSS Document */

/* Profile Image Styles */
.ken{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	outline: 1px solid black;
	box-shadow: rgb(51, 51, 51) 5px 0px 15px,
                rgb(51, 51, 51) -5px 0px 15px;
}

video{
	display: block;
	margin: auto;
}

iframe{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#apDiv1 table{
	width: 100%;
}

#apDiv1 table tbody{
	width: 100%;
}

#apDiv1 table tr{
	width: 100%;
}

#apDiv1 table td{
	text-align: center;
	width: 100%;
}

/* Col Styles */
.row{
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}

.col{
  float: left;
  width: 50%;
}

.col p{
	display: block;
	margin: auto;
}

#apDiv1{
	background-image: url("Images/Untitled.png");
	background-size: cover;
	padding: 600px;
}

#apDiv1 p, #apDiv1 h4{
	font-size: 50px;
	color: white;
}


@media only screen and (max-width: 950px){
	.col{
		width: 100%;
	}
	.ken{
		width: 50%;
	}
	
	iframe{
		width: 90%;
		margin: auto;
	}
	
	#apDiv1{
		padding: 10px;
	}
	#apDiv1 p, #apDiv1 h4{
		font-size: 15px;
	}
}