@charset "utf-8";
/* CSS Document */

/* General Styles */
#apDiv8{
	display: inline-block;
	background-image: url("../../imageedit_10_7376449577.jpg");
	background-cover: cover;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

#apDiv8 p{
	display: block;
	margin: auto;
	width: 80%;
}

/* CSM 3 Col Styles */
.rowHIFLOXN{
	display: block;
	margin: auto;
}

.colHIFLOXN{
  float: left;
}

.leftHIFLOXN {
  width: 22%;
}

.rightHIFLOXN{
	width: 22%;
}

.centerHIFLOXN {
  width: 50%;
}

.centerHIFLOXN .Model{
	width: 100%;
}

/* Clear floats after the columns */
.rowHIFLOXN:after {
  content: "";
  display: table;
  clear: both;
}

.rowHIFLOXN p{
	width: 90%;
	text-align: center;
}

.Img img{
	display: block;
	margin: auto;
}

.Img h5{
	font-size: 12px;
	display: block;
	margin: auto;
}

.leftHIFLOXNM{
	display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 950px){
	.leftHIFLOXNM{
		display: block;
		width: 90%;
	}
	
	.Img{
		width: 100%;
	}
	
	.Img img{
		width: auto;
		height: auto;
	}
	
	.rightHIFLOXN{
		display: none;
	}
	
	.leftHIFLOXN{
		display: none;
	}
	
	.centerHIFLOXN{
		width: 100%;
	}
}


@media only screen and (max-width: 500px){
	table td{
		font-size: 8px;
	}
}