@charset "UTF-8";
/* CSS Document */

/* General Styles */
#apDiv8{
	display: inline-block;
	width: 100%;
	background-image: url("../imageedit_10_7376449577.jpg");
	background-size: cover;
	padding-top: 10px;
	padding-bottom: 10px;
}

p{
	text-align: center;
}

.banner{
	width: 50%;
	display: block;
	margin: auto;
}

/* 3 Col Styles */
.rowHighPurity{
	display: block;
	margin: auto;
}

.colHighPurity{
  float: left;
  padding: 10px;
  height: auto;
}

.leftHighPurity, .rightHighPurity {
  width: 22%;
}

.leftHighPurityM{
	display: none;
}

.centerHighPurity {
  width: 50%;
}

.centerHighPurity .Model{
	width: 100%;
}

/* Clear floats after the columns */
.rowHighPurity:after {
  content: "";
  display: table;
  clear: both;
}

.rowHighPurity p{
	width: 90%;
}

.Img h4{
	text-align: center;
}

.Img img{
	display: block;
	margin: auto;
	width: 150px;
}

#pic1{
	width: 75px;
}

/* Common Applications Styles */
.commonApp table{
	width: 100%;
}

.commonApp td{
	padding-left: 10px;
	padding-right: 10px;
}

/* table high purity */
.tableHighPurity img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	padding: 10px;
}

.ModelM{
	display: none;
}

@media only screen and (max-width: 1100px){
	
	.banner{
		width: 90%;
	}
	
	.centerHighPurity{
		display: block;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.leftHighPurity{
		display: none;
	}
	
	.leftHighPurityM{
		display: block;
		width: 95%;
		margin: auto;
	}
	
	.Img {
		width: 100%;
	}
	
	.Img img{
		width: auto;
		height: auto;
	}
	
	.rightHighPurity{
		display: none;
	}
	
	.tableHighPurity{
		display: none;
	}
	
	.Model{
		display: none
	}
	
	.ModelM{
		display: block;
		width: 100%;
	}
	
	.ModelM td{
		width: auto;
		border: solid 1px;
	}
}